*{
    padding: 0;
    margin: 0;
}

.heading{
    font-family: monospace;
    text-align: center;
    padding-top: 30vh;
    font-size: 20vh;
    color: #dfddde;
    text-shadow: 1vh 1vh black;
}

main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/main/wallpaper-forest.jfif);
    background-size: cover;
}